.head-container {
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App {
  margin: auto;
  /* max-width: 25rem; */
  text-align: center;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.input {
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
}
.input:focus {
  outline: none;
}
.search-box {
  border: 1px solid black;
  max-width: 12rem;
  /* height: 1.5rem; */
  margin: auto;
  /* border-radius: 1rem; */
  padding: 0.5rem;
}

.body-container {
  display: flex;
  justify-content: center;
}
