.head-container {
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  margin: auto;
  /* max-width: 25rem; */
}
:root {
  background-image: url(./mountain.jpg);
  background-position: left;
}
.socials {
  width: 100%;
  position: fixed;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.twitter {
  height: 35px;
  width: 35px;
  padding: 1rem;
}
.instagram {
  height: 30px;
  width: 30px;
  padding: 1rem;
}
.github {
  height: 27px;
  width: 27px;
  padding: 1rem;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.input {
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  background-color: initial;
}
.input:focus {
  outline: none;
}
.search-box {
  border: 1px solid black;
  max-width: 12rem;
  /* height: 1.5rem; */
  margin: auto;
  border-radius: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.body-container {
  margin: auto;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
.loader {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-info {
  font-size: small;
  font-weight: lighter;
}

.body-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.temperature {
  font-size: xx-large;
  grid-column: 2;
  grid-row: 1 / span 3;
  margin-top: 0.5rem;
}

.body-content {
  display: grid;
}
